body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 16pt;
}
h1 {
	font-size: 2.5rem;
}
.main {
	margin: 1rem auto;
	max-width:20rem;
}
input {
	font-size: 1rem;
	padding: 0.5rem;
	-webkit-appearance: none;
	background-color: white;
	border: 1px solid #ddd;
	width:100%;
}